*{
    margin : 0; padding: 0 ; box-sizing: border-box;
}
body{
    background-color: #fceef5;
}
.container{
    max-width: 1200px;
    margin : 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter-app{
    width: 400px;
    padding : 2rem;
    color : #eee;
    background-color: #11698e;
    border-radius: 5px;
}
.counter-app h2{
    text-align: center;
}
.counter-app  > span {
    display: block;
    text-align: center;
    margin-top : 1rem;
    font-size : 3rem ;
}
.counter-app .buttons{
    width: 100%;
    padding : 1rem 0;
    margin-top : 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.counter-app button {
    border : 0;
    outline:  0;
    cursor: pointer;
    padding : 0.5rem 0.75rem;
    border-radius : 4px;
    margin-right : 1.1rem;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    color :white;
}
.counter-app button img {
    width: 24px;
    margin-right: 0.3rem;
}

.add{
    background-color: #be4747;
}
.reset {
    background-color: #e6e6e6;
}
.subtract{
    background-color: #fad662;
}